/**************************************** Configurações Gerais *****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1B1426;
}

/* importe de fontes */
@font-face {
    font-family: Inter;
    src: url(../Assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: QuickSand;
    src: url(../Assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: Titillium-regular;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: Titillium-Semibold;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}
@font-face {
    font-family: Titillium-bold;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: Titillium-black;
    src: url(../Assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

/*********************** Header ****************************/

/****************************************** Container Grid *********************************************************/
.container-grid {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}
header {
    background-color: #1B1426;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/********************************************* Menu Mobile1 ******************************************************/
.menu-mobile1 {
    background: linear-gradient(to bottom, rgba(27, 20, 38, 0.8), rgba(27, 20, 38, 0.4));
    height: 80vh;
    width: 80vw;
    position: fixed;
    left: -80vw;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}
.mobile-apenas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    width: 100%;
}
.mobile-apenas .contato-tele {
    font-family: Inter;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}
.mobile-apenas .contato-email {
    font-family: Inter;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.mobile-apenas .contato-icons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px 10px;
}
.contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    margin-top: 20px;
}
.icon {
    height: 40px;
    width: 40px;
}
nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.linha {
    background-color: #F9AA01;
    border-style: none;
    height: 3px;
    width: 100%;
}

/********************************************* Menu Mobile2 ******************************************************/
.menu-mobile2 {
    position: fixed;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: -30vw;
    width: 20%;
    height: 180px;
    background: linear-gradient(to bottom, rgba(27, 20, 38, 0.8), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(5px);
}
.icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.icon2 {
    width: 20px;
    height: 20px;
}

/**************************************************** Funcionalidades ********************************************************/
.MostrarMenu {
    left: 0;
}
.MostrarMenu2 {
    right: 0;
}
/* icones */
.logo-pc,
.contato-icons,
.contato-tele,
.contato-email {
    display: none;
}

/**************** Final do Header *******************/

/******************************************************** Cadastro de jogadores ********************************************************************/
main{
    background-image: url(../Assets/images/banner_cadastro_de_jogador.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1300px;
}
.camada-blur{
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.borda-equipe{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(60, 3, 65, 0.2));
    height: 550px;
    border-radius: 8px;
    padding: 1px;
}
.tela-equipe{
    background: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6), rgba(60, 3, 65, 0.38));
    height: 550px;
    border-radius: 8px;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titulo-equipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-equipe h2{
    font-family: Titillium-black;
    font-size: 28px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.tela-equipe hr{
    border: 2px solid #F9AA01;
    width: 230px;
    align-self: center;
}
.inputs-jogadores{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#inputs-cadastro{
    background: linear-gradient(to right,rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.3));
    color: white;
    width: 290px;
    height: 40px;
    border-radius: 8px;
    padding: 10px 15px;
    border: none;
}
button{
    background-color: #F9AA01;
    width: 290px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-family: Titillium-bold;
    font-size: 24px;
}

.mini-header{
    display: flex;
    justify-content: space-around;
    color: #F9AA01;
    border: 2px solid transparent;
    border-bottom-color: #F9AA01;
}
.mini-header hr{
    border: none;
}
.mini-header p{
    font-family: Titillium-bold;
    font-size: 20px;
    text-transform: uppercase;
}
.jogadores{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jogadores-salvos{
    width: 353px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.borda-salvo{
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.4),rgba(27, 20, 38, 0.2));
    width: 353px;
    height: 54px;
    border-radius: 8px;
    padding: 1px;
}
.salvo{
    background: linear-gradient(to right bottom,rgba(60, 3, 65, 0.5), rgba(27, 20, 38, 0.2));
    backdrop-filter: blur(3px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 353px;
    height: 54px;
    border-radius: 8px;
}
.salvo hr{
    border: 1px solid #F9AA01;
    height: 43px;
}
.salvo p{
    font-family: Titillium-regular;
    font-size: 20px;
}
.deletar{
    width: 12px;
    height: 12px;
}
/***************************************************** Rodapé ************************************************************/
footer {
    background-image: url(../Assets/images/backgroung_footer.svg);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1550px;
}
.footer-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
footer h3 {
    font-family: Titillium-black;
    font-size: 30px;
    color: white;
}
footer hr {
    border: 1px solid #F9AA01;
    width: 130px;
}
.footer-c1 {
    font-family: titillium-bold;
    font-size: 16px;
    color: #F9AA01;
}
.footer-c2 {
    font-family: titillium-bold;
    font-size: 16px;
    color: #ffffff;
}
.logo-footer {
    display: none;
}
footer aside {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-b1,
.footer-b2,
.footer-b3,
.footer-b4 {
    width: 100%;
}
.footer-b1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.footer-b1 p {
    font-family: QuickSand;
    font-size: 14px;
    color: white;
}
.footer-b2 li::before {
    content: url(../Assets/icons/Line\ 33.svg);
}

.footer-b2 ul {
    list-style-type: none;
}
.footer-b2 a {
    font-family: Titillium-bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.footer-b4 {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.separacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}
footer .digite-email {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    color: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
}
.digite-email::placeholder {
    color: white;
}
.footer-b4 button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: #1B1426;
    background-color: #F9AA01;
    font-family: Titillium-bold;
    font-size: 24px;
}
.footer-final {
    position: absolute;
    bottom: 1%;
}
footer .retorne {
    width: 60px;
    height: 60px;
    background-color: #F9AA01;
    border: none;
    border-radius: 8px;
    position: relative;
    left: 82%;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-family: Titillium-regular;
    font-size: 14px;
    color: white;
}

/**************************************************************************************************************************************************************/
/************************************************* Parte dedicada ao desktop configuracao CSS total************************************************************/
/**************************************************************************************************************************************************************/

@media screen and (min-width:992px) {

    /******************************************* Configuracoes gerais ********************************************************/
    .container-grid {
        max-width: 1440px;
    }
    .menu-mobile {
        display: none;
    }

    /******************************************* Cabecalho ********************************************************/
    header {
        height: 140px;
        position: initial;
    }
    .logo-pc {
        display: block;
        width: 195px;
        height: 55px;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    .header-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
    }
    .contato-icons {
        display: flex;
        justify-content: space-between;
        width: 130px;
        height: 60%;
    }
    .separacao-con {
        display: flex;
        justify-content: space-between;
        width: 400px;
        color: white;
    }
    .icon2 {
        width: 25px;
        height: 25px;
    }
    .contato-tele,
    .contato-email {
        display: flex;
        align-items: center;
    }
    .menu-mobile1 {
        position: static;
        background: transparent;
        backdrop-filter: none;
        flex-direction: row;
        height: auto;
        width: 400px;
    }
    .menu-mobile1 nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    nav a:hover {
        color: #F9AA01;
    }
    .menu-mobile1 .linha {
        display: none;
    }
    .menu-mobile2 {
        position: static;
        background: transparent;
        backdrop-filter: none;
        width: 130px;
        height: auto;
    }
    .icon-menu {
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-apenas {
        display: none;
    }

    /******************************************************** Cadastro de jogadores ********************************************************************/
    main{
        background-image: url(../Assets/images/banner_cadastro_de_jogador.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1370px;
    }
    .borda-equipe,
    .tela-equipe{
        width: 800px;
        height: 530px;
    }
    .tela-equipe h2{
        font-size: 40px;
    }
    .tela-equipe hr{
        width: 350px;
    }
    .inputs-jogadores{
        height: 270px;
    }
    #inputs-cadastro{
        width: 500px;
        height: 45px;
    }
    .mini-header{
        width: 800px;
    }
    .mini-header p{
        font-size: 40px;
    }
    .jogadores-salvos{
        width: 800px;
        height: 440px;
    }
    .jogadores{
        height: 515px;
    }
    .borda-salvo,
    .salvo{
        width: 800px;
        height: 120px;
    }
    .salvo p{
        font-size: 40px;
    }
    .salvo hr{
        height: 95px;
    }
    .deletar{
        width: 25px;
        height: 25px;
    }
    /***************************************************** Rodapé ************************************************************/
    footer {
        height: 530px;
    }
    .logo-footer {
        display: block;
        width: 196px;
        height: 56px;
    }
    .footer-flex {
        flex-direction: row;
    }
    .footer-b1,
    .footer-b2,
    .footer-b3,
    .footer-b4 {
        height: 80%;
        width: 22%;
    }
    .footer-final {
        bottom: 3%;
    }
    .icon-footer {
        width: 40px;
        height: 40px;
    }
    .footer-b1 p {
        font-size: 16px;
        text-align: justify;
    }
    footer aside {
        width: 80%;
    }
    .footer-b4 button,
    footer .digite-email {
        height: 44px;
    }
    .retorne {
        height: 60px !important;
    }
}